<style>.podtitul{font-size:50%;font-weight:normal}</style>
<script src="https://code.highcharts.com/highcharts.src.js"></script>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/images/03763536.jpeg');"><span class="b-data__caption">Petr Nečas a Jana Nečasová</span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Jak prezident jmenoval vlastního premiéra<br><span class='podtitul'>Pět momentů, které otřásly českou politikou<br>5. díl: pád Nečasovy vlády (2013)</span></strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>13. října 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">S blížícími se sněmovními volbami přichází čas ohlédnout se, co určovalo podobu těch minulých. Server iROZHLAS.cz proto přináší seriál Pět momentů, které otřásly českou politikou. Od pondělí do pátku se každý den dočtete o tom nejdůležitějším, co se na politické scéně v posledních dvaceti letech událo. Posledním z momentů je pád vlády Petra Nečase a dosazení „prezidentské“ vlády Jiřího Rusnoka.</p>

<p><em>Přečtěte si také <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-si-zeman-s-klausem-rozdelili-cesko_1710090800_zlo">první díl o éře opoziční smlouvy</a>, <a href="https://www.irozhlas.cz/veda-technologie/historie/pithart-zeman-klaus-jak-se-hledal-prezident_1710101001_zlo">druhý o zvolení Václava Klause prezidentem</a>, <a href="https://www.irozhlas.cz/veda-technologie/historie/topolanek-ods-paroubek-cssd-volby-pat-prebehlici-2006-klaus_1710111802_zlo">třetí o volebním patu, který zrodil poslanecké přeběhlíky</a> a čtvrtý o <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-urednicka-vlada-dovedla-zemi-k-volbam-ktere-se-nekonaly_1710121900_zlo">soudem zrušených volbách</a>.</em> </p>
<h2>Silná většina slabé vlády</h2>
<p>Období voleb, které se <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-urednicka-vlada-dovedla-zemi-k-volbam-ktere-se-nekonaly_1710121900_zlo">navzdory snaze politiků</a> konaly v květnu roku 2010, zamíchalo politickou scénou. Tradičně největší rivalové, ODS a ČSSD, prošli výměnou na vedoucích pozicích. Měsíc před volbami na svou funkci rezignoval předseda ODS Mirek Topolánek. Se stranou měl neshody delší dobu, záminkou pro jeho odchod bylo však až jeho vyjádření pro gay magazín LUI: „Gustav Slamečka, když jde do tuhého, tak uhne. (Tehdejší úřednický premiér) Fischer, ten je Žid, není gay, uhne ještě dřív. To souvisí s jeho charakterem,“ reagoval Topolánek na otázku, jak by popsal gaye pěti slovy. Topolánka nahradil jeho místopředseda Petr Nečas.</p>
<p></div><div class="row-main row-main--article"><div id="volby10"></div></div><div class="row-main row-main--narrow"></p>
<p>ODS sice ve volbách dostala méně hlasů než sociální demokraté, pro ty však bylo vítěztví ve skutečnosti porážkou, protože nebyli schopni sestavit vládu. V důsledku toho rezignoval předseda ČSSD Jiří Paroubek, na jehož místo ČSSD později zvolila exministra financí Bohuslava Sobotku. Tradiční koaliční strana KDU-ČSL se poprvé do sněmovny nedostala vůbec, stejně jako zelení, úspěšní v minulém období. Nahradili je dva nováčci: Věci veřejné, strana prosazující přímou demokracii, a TOP 09, pravicově konzervativní projekt bývalého šéfa lidovců Miroslava Kalouska. </p>
<p>Koalice ODS - TOP 09 - Věci veřejné, která vzniká krátce po volbách a kterou nový premiér Petr Nečas nazývá „koalicí rozpočtové odpovědnosti, vlády práva a boje proti korupci“, disponuje pohodlnou většinou 118 hlasů a vše nasvědčuje klidnému vládnímu období. Realita je ale jiná. Vláda prochází už od roku 2011 řadou krizí. Původcem většiny z nich jsou Věci veřejné, které jsou podle týdeníku Respekt zasaženy vnitrostranickou korupcí: celá strana je neprůhledně financovaná ministrem dopravy za VV a majitelem bezpečnostní agentury ABL Vítem Bártou. Mladá fronta Dnes v dubnu 2011 <a href="http://zpravy.idnes.cz/barta-byznys-politika-veci-verejne-dum-/domaci.aspx?c=A110407_194147_domaci_cem">odhaluje</a>, že už o tři roky dříve Bárta plánoval pomocí strany ovlivňovat veřejný prostor a státní správu ve prospěch ABL.</p>
<p>Bárta kvůli kauze z vlády odchází, konflikty mezi ODS s TOP 09 a VV jsou přesto neustále na pořadu dne - mimo jiné v <a href="https://www.irozhlas.cz/zpravy-domov/vv-povazuji-spor-o-batoru-za-uzavreny-top-09-trva-na-jeho-odvolani-_201108231436_sbartosova?print=1">kauze Ladislava Bátory</a>, náměstka ministerstva školství za VV Josefa Dobeše. Bátoru jmenuje Dobeš přes odpor koaličních partnerů, což kritizuje místopředseda vlády Karel Schwarzenberg. Bátora v reakci na to označuje Schwarzenberga za „prskajícího starého chudáčka“. TOP 09 kvůli tomu žádá jeho odvolání, což ale Dobeš odmítá. Bátora po personálním přeřazení nakonec odchází sám. Věci veřejné se <a href="https://www.lidovky.cz/karolina-peake-odchazi-z-veci-verejnych-fcg-/zpravy-domov.aspx?c=A120417_170623_ln_domov_ape">nakonec v roce 2012 štěpí</a> a vláda pokračuje se skupinou protibártovských odpadlíků nazvadnou LIDEM.</p>
<h2>Od Nagyové k Rusnokovi</h2>
<p>Definitivní konec nestabilní vlády nastal v červnu 2013 - tři měsíce po přímém zvolení prezidenta Miloše Zemana. Útvar pro odhalování organizovaného zločinu <a href="http://zpravy.rozhlas.cz/plus/dnesniplus/_zprava/ctyri-roky-kauzy-nagyova-ocekavani-byla-mnohem-vetsi-rika-analyticka--1734027">provádí razii na Úřadu vlády</a> kvůli podezření z korupce a zneužití pravomocí. Ústřední postavou případu byla šéfka Nečasova kabinetu Jana Nagyová. Nagyovou, která měla milenecký poměr s premiérem Nečasem, ÚOOZ obvinil ze zneužití Vojenského zpravodajství. Měla nechat sledovat Nečasovu tehdejší manželku Radku a zaměstnance Úřadu vlády. Nečas pod tlakem strany, vlády i veřejnosti podal prezidentu Zemanovi demisi. Jednotlivé složky kauzy Nagyová dodnes projednávají soudy.</p>
<p>O dokončení funkčního období mají strany rozdílné představy. Koalice preferuje vládu vedenou místopředsedkyní ODS Miroslavou Němcovou, opoziční ČSSD a komunisté zase předčasné volby. Za politiky ovšem překvapivě rozhoduje prezident Zeman. Jmenuje vlastní „vládu odborníků” vedenou Jiřím Rusnokem, ekonomem a Zemanovým dávným ministrem financí z doby opoziční smlouvy. Mezi jinými v ní na postu ministra financí zasedá Jan Fischer, oblíbený <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-urednicka-vlada-dovedla-zemi-k-volbam-ktere-se-nekonaly_1710121900_zlo">„úřednický premiér”</a> a Zemanův neúspěšný protikandidát v prezidentské volbě. Rusnokova vláda podle očekávání nezískává v Poslanecké sněmovně důvěru. Zeman ji však rekordní dobu, více než půlrok, nechává vládnout v demisi. „I kdybyste mě lámali kolem, žádný druhý pokus nepodniknu,” prohlašuje.</p>
<p>Konec Nečasovy vlády vedl nejen k rozkladu ODS a odlivu jejích voličů - dnešní předseda strany Petr Fiala v té době prohlašuje, že „ODS, jak jsme ji dosud znali, přestala existovat” - ale také k deziluzi občanů z tradičních stran obecně. Česká politická scéna v roce 2013 se tak stala ideálním prostředím pro nástup nejvýraznější nové strany od vzniku České republiky: ANO miliardáře Andreje Babiše. Jeho vzestup spuštěný čtyři roky starou politickou krizí trvá dodnes.  </p>
<p></div><div class="row-main row-main--article"><div id="volby13"></div></div><div class="row-main row-main--narrow"></p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Michal Zlatkovský</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script>Highcharts.setOptions({lang:{decimalPoint:",",}});Highcharts.chart('volby10',{chart:{type:'column'},title:{text:'Volby do Poslanecké sněmovny 2010'},subtitle:{text:'Volební účast: 62,60 %'},credits:{enabled:false},xAxis:{categories:['ČSSD','ODS','TOP 09','KSČM','VV','KDU-ČSL','SPOZ'],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,title:{text:'Procent hlasů:'},labels:{overflow:'justify',format:'{value} %'}},plotOptions:{column:{pointPadding:0.01,borderWidth:0,colorByPoint:true,colors:["orange","blue","purple","red","lightblue","yellow","pink"],dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},tooltip:{formatter:function(){if(this.y=="22.08"){this.mandatu="56";this.nazev="Česká strana sociálně demokratická"}
else if(this.y=="20.22"){this.mandatu="53";this.nazev="Občanská demokratická strana"}
else if(this.y=="16.70"){this.mandatu="41";this.nazev="TOP 09"}
else if(this.y=="11.27"){this.mandatu="26";this.nazev="Komunistická strana Čech a Moravy"}
else if(this.y=="10.88"){this.mandatu="24";this.nazev="Věci veřejné"}
else if(this.y=="4.39"){this.mandatu="0";this.nazev="Křesťanská a demokratická unie – Československá strana lidová"}
else if(this.y=="4.33"){this.mandatu="0";this.nazev="Strana práv občanů Zemanovci"}
return('<b>'+this.nazev+'</b><br>'+this.y.toString().replace(".",",")+' %<br>'+this.mandatu+" mandátů")}},legend:{enabled:false},series:[{name:'Odpovědí',data:[22.08,20.22,16.70,11.27,10.88,4.39,4.33]}]});Highcharts.chart('volby13',{chart:{type:'column'},title:{text:'Volby do Poslanecké sněmovny 2013'},subtitle:{text:'Volební účast: 59,48 %'},credits:{enabled:false},xAxis:{categories:['ČSSD','ANO 2011','KSČM','TOP 09','ODS','Úsvit','KDU-ČSL'],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,title:{text:'Procent hlasů:'},labels:{overflow:'justify',format:'{value} %'}},plotOptions:{column:{pointPadding:0.01,borderWidth:0,colorByPoint:true,colors:["orange","lightblue","red","purple","blue","lightgreen","yellow"],dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},tooltip:{formatter:function(){if(this.y=="20.45"){this.mandatu="50";this.nazev="Česká strana sociálně demokratická"}
else if(this.y=="18.65"){this.mandatu="47";this.nazev="ANO 2011"}
else if(this.y=="14.91"){this.mandatu="33";this.nazev="Komunistická strana Čech a Moravy"}
else if(this.y=="11.99"){this.mandatu="26";this.nazev="TOP 09"}
else if(this.y=="7.72"){this.mandatu="16";this.nazev="Občanská demokratická strana"}
else if(this.y=="6.88"){this.mandatu="14";this.nazev="Úsvit přímé demokracie Tomia Okamury"}
else if(this.y=="6.78"){this.mandatu="14";this.nazev="Křesťanská a demokratická unie – Československá strana lidová"}
return('<b>'+this.nazev+'</b><br>'+this.y.toString().replace(".",",")+' %<br>'+this.mandatu+" mandátů")}},legend:{enabled:false},series:[{name:'Odpovědí',data:[20.45,18.65,14.91,11.99,7.72,6.88,6.78]}]});</script>
