<style>.podtitul{font-size:50%;font-weight:normal}</style>
<script src="https://code.highcharts.com/highcharts.src.js"></script>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/uploader/01_15_volba_preziden_171010-084630_zlo.jpg');"><span class="b-data__caption">Foto <a href='#'>Senát</a></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Pithart? Zeman? Klaus! Jak se hledal prezident<br><span class='podtitul'>Pět momentů, které otřásly českou politikou<br>2. díl: Volba prezidenta (2003)</span></strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>10. října 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">S blížícími se sněmovními volbami přichází čas ohlédnout se, co určovalo podobu těch minulých. Server iROZHLAS.cz proto přináší seriál Pět momentů, které otřásly českou politikou. Od pondělí do pátku se každý den dočtete o tom nejdůležitějším, co se na politické scéně v posledních dvaceti letech událo. Druhým z momentů je první 'pohavlovská' devítikolová prezidentská volba, která poslancům a senátorům zabrala více než měsíc.</p>

<p><em>Přečtěte si také <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-si-zeman-s-klausem-rozdelili-cesko_1710090800_zlo">první díl o éře opoziční smlouvy</a>.</em></p>
<h2>Dozvuky opoziční smlouvy</h2>
<p>Desetiletá éra Václava Klause a Miloše Zemana skončila - tedy aspoň zdánlivě. <a href="https://interaktivni.rozhlas.cz/data/volby-historie/1998_opozicni_smlouva/">Konec opoziční smlouvy</a> přinesl do politiky čerstvý vítr. Ve volbách v červnu 2002 vítězí s ČSSD Zemanův nástupce, bývalý ministr práce Vladimír Špidla, který uzavírá koalici s uskupením malých stran známých z předchozích období - KDU-ČSL a Unie svobody s Demokratickou unií. Disponuje však jen těsnou, nestabilní většinou 101 hlasů.</p>
<p></div><div class="row-main row-main--article"><div id="volby02"></div></div><div class="row-main row-main--narrow"></p>
<p>Klausova ODS prohrává a Václav Klaus sám se poprvé ocitá ve skutečné opozici - jako řadový poslanec bez funkce ve vládě nebo vedení sněmovny. Na stranickém sjezdu, který se koná několik měsíců po volbách, znovu nekandiduje. Favoritem na nového předsedu ODS je Klausův místopředseda Petr Nečas, nakonec však o pouhých 11 hlasů vítězí rázný senátor za Ostravu Mirek Topolánek, kterého Klaus ale nemá příliš v lásce. Do médií se dostává jeho SMS z kongresu, kde svého nástupce označuje za „absolutně prázdného a falešného Topola“. Klause kongres jmenuje za čestného předsedu - a svého kandidáta v nadcházející volbě prezidenta. Obě hlavní strany a KDU-ČSL s US-DEU doplňují ještě komunisté, tradičně izolovaní v opozici.</p>
<h2>První pokus</h2>
<p>Křehkost vládní koalice se projevila záhy, v první „pohavlovské“ prezidentské volbě v lednu 2003. Nástupce Václava Havla, kterému končilo druhé ze dvou možných pětiletých období v prezidentském úřadu, měla i přes debaty o uzákonění přímé volby prezidenta společně vybrat Poslanecká sněmovna a Senát.</p>
<p>ČSSD, rozdělená po nástupu Vladimíra Špidly na několik mocenských bloků, se na svém prezidentském kandidátovi dlouho nemůže shodnout. Křídlo stoupenců Špidlova předchůdce Miloše Zemana v čele s místopředsedou ČSSD Zdeňkem Škromachem otevřeně podporuje jeho nominaci na prezidentský úřad. Zeman sám však prohlašuje, že je na odchodu z politiky a zúčastní se až případné druhé volby. Skupina kolem mladého ministra vnitra Stanislava Grosse vyzývá exministra spravedlnosti Jaroslava Bureše, zatímco premiér Špidla prosazuje ombudsmana Otakara Motejla.</p>
<p>Sociální demokraté tak na konci listopadu 2002 pořádají vnitrostranické referendum. Jasně v něm vítězí Miloš Zeman, který ale trvá na své neúčasti v první volbě. Protizemanovské vedení ČSSD proto nominuje druhého Jaroslava Bureše. Otakaru Motejlovi, kterého veřejnost podle průzkumů považuje za nejvhodnějšího Havlova nástupce, se cesta na Hrad uzavírá.</p>
<div id="referendum"></div>

<p>ČSSD v celém procesu obchází své koaliční partnery, kteří přitom původně stáli o společného vládního kandidáta. Předseda US-DEU Karel Kühnl označuje referendum sociálních demokratů za maškarádu a uskupení staví spolu s lidovci vlastního kandidáta - dlouholetého senátora Petra Pitharta. ODS podle očekávání vysílá do volby Václava Klause, KSČM právníka Miroslava Kříženeckého.</p>
<p><em>Před zavedením přímé prezidentské volby volili společně prezidenta poslanci a senátoři. Volilo se ve Španělském sále Pražského hradu. Jedna volba mohla být maximálně tříkolová. Z prvního kola, kterého se účastnili kandidáti všech vládních stran, postoupili dva: ten, který dostal nejvíce hlasů od poslanců, a ten s nejvíce hlasy od senátorů. Ve druhém kole, tedy souboji nanejvýš dvou kandidátů, už kandidát potřeboval nadpoloviční většinu poslaneckých nebo senátorských hlasů. Pokud by kandidát v prvním nebo druhém kole získal obě většiny, zvítězil by rovnou. V opačném případě se pokračovalo třetím kolem, kde se hlasy poslanců a senátorů sčítaly. K vítězství tedy stačila nadpoloviční většina všech hlasů. Pokud nikdo dostatek hlasů nezískal, musela se uspořádat nová volba. Prezident se mohl volit veřejně i tajně, tedy „anonymně“. V roce 2003 se parlament shodl na tajném hlasování, což bylo pro podobu volby klíčové.</em></p>
<div id="kolo1"></div>

<p>První tříkolová prezidentská volba se koná 15. ledna 2003. Rozpolcenost ČSSD se projevuje drtivě: ačkoliv je přítomno 70 sociálnědemokratických poslanců, „jejich“ kandidát dostává v prvním kole pouze 39 poslaneckých hlasů. Do druhého kola postupuje Václav Klaus, kterého kromě zástupců ODS překvapivě volí i poslanci koaličních stran, zřejmě ČSSD a US-DEU, a Petr Pithart, který získává největší důvěru senátorů. Kandidát největší vládní strany tím zcela pohořel.</p>
<div id="kolo2"></div>

<p>V druhém kole vítězí mezi poslanci se 77 hlasy opět Klaus, stejný počet poslanců se však volby zdržel. Petr Pithart získává potřebnou většinu mezi senátory, chybí mu ale podpora koaličních stran. Pithart to označuje za chybu sociální demokracie. Třetí kolo dopadá téměř nachlup stejně a nezbývá tedy než celou volbu opakovat. ODS slaví debakl koalice: „Děkuji všem, předem i těm, kdo mě nevolili. Předem proto, neboť doufám, že se příště polepší,“ glosuje volbu Klaus. Předseda ODS Mirek Topolánek označuje neschopnost vládních stran dohodnout se na společném kandidátovi za světovou raritu. Zpravodajský web iDnes.cz celé sezení vystihuje lakonickým titulkem: Volba nemá vítěze, Zeman je ve hře.</p>
<div id="kolo3"></div>

<h2>Útěk Miloše Zemana</h2>
<p>Čas na opakování volby prezidenta přichází 24. ledna 2003. Za ČSSD tentokrát i přes nelibost stranického vedení kandiduje Miloš Zeman, který tak plní svůj záměr účastnit se až druhé volby. ODS se drží Václava Klause, lidovci spolu s US-DEU nominují senátorku Jaroslavu Moserovou a komunisté vlastního kandidáta nestaví s tím, že budou hlasovat podle svého přesvědčení.</p>
<div id="kolo4"></div>

<p>Miloš Zeman dělá vše pro to, aby šel do volby jako favorit. Podle <a href="http://zpravy.idnes.cz/zeman-sel-do-volby-jako-favorit-dmu-/domaci.aspx?c=A030123_222304_prezident_pol">informací Mladé fronty Dnes</a> přesvědčuje o své vhodnosti nejen koaliční kluby a ODS, ale také komunisty. V rámci vyjednávání prohlašuje i to, že považuje takzvané Bohumínské usnesení, které zakazuje ČSSD spolupráci s KSČM, za vyčpělé.</p>
<p>O to překvapivější je, když do dalšího kola nepostupuje. Podpora mu chybí zejména v rozdělené sociální demokracii. „Spor v ČSSD byl o tom, že Zeman by si na Hrad přivedl Šloufy a podobné lidi,“ komentuje situaci předseda sněmovny Lubomír Zaorálek. Zeman ze Španělského sálu kvapně odchází zadním vchodem a na další roky se stahuje do ústraní. Pro Špidlovo protizemanovské stranické křídlo jde naopak o částečné vítězství.</p>
<div id="kolo5"></div>

<p>V souboji s Jaroslavou Moserovou má výrazně navrch Václav Klaus, ve druhém ani třetím kole ale nedosahuje na dostatečný počet hlasů - Klaus vítězí u poslanců, Moserová u senátorů. Je jasné, že k volbě bude muset dojít znovu. V koalici se mluví o nutnosti postavit pro příští volbu vlastního společného kandidáta, Václav Klaus také zůstává neústupný: „Nenechám se odradit, jsem připraven nastoupit,“ ujišťuje zákonodárce. Na popud odcházejícího Václava Havla se diskutuje i o rychlém zavedení přímé volby, nakonec však dochází k v pořadí třetímu pokusu o zvolení prezidenta parlamentem.</p>
<div id="kolo6"></div>

<h2>Klausova chvíle</h2>
<p>Třetí volba připadla až na 28. února - necelý měsíc po skončení mandátu Václava Havla a tedy téměř na konci zákonné třicetidenní lhůty pro konání prezidentské volby. Vládní koalice se konečně shoduje na společném kandidátovi, filosofovi Janu Sokolovi. Jeho jediným protikandidátem je stále odhodlaný Václav Klaus. „Připadám si jak v pohádce, kdy musím plnit tři úkoly, které jsou stále náročnější,“ komentuje své snažení v projevu před shromážděnými poslanci a senátory.</p>
<div id="kolo7"></div>

<p>Z prvního kola postupují oba kandidáti, Václav Klaus je přitom stejně jako při předchozích volbách úspěšnější než kandidát koalice. Od poslanců dostal 115 hlasů, a protože opozice disponovala 99 poslanci, muselo se na jeho stranu přiklonit alespoň 16 koaličních poslanců. Jan Sokol je úspěšnější u senátorů.</p>
<div id="kolo8"></div>

<p>Druhé kolo vypadá podobně - Klause podporuje i část koalice a Sokolovi hlasy poslanců nestačí. Spekuluje se o možné další volbě, ale parlament nakonec ve třetím kole za prezidenta volí Václava Klause. Získává 142 z 280 hlasů poslanců a senátorů - včetně hlasů z komunistické strany, která jednohlasně vystupuje proti Sokolovi. Vládní koalice tak definitivně prohrává. </p>
<div id="kolo9"></div>

<h2>Definitivní (ne)vítězství</h2>
<p>Dlouholeté „úhlavní přátelství“ Václava Klause a Miloše Zemana na pohled končí definitivním vítězstvím prvního z nich. Klaus obhajuje svůj mandát i v prezidentské volbě roku 2008 a podobu české politiky spoluvytváří dalších deset let. Úvahy o přímé volbě prezidenta však ke konci jeho funkčního období dojdou k naplnění - a dekádu po Klausovi se prezidentem díky hlasům voličů stává právě Miloš Zeman.</p>
<p>Předsednická kariéra Vladimíra Špidly je oproti tomu o poznání kratší. S roztříštěnou ČSSD dramaticky prohrává volby do Evropského parlamentu v roce 2004, když získává pouhých 8,78 procent hlasů. Záhy rezignuje na post předsedy strany i vlády. Nahrazuje ho nejmladší premiér v historii zemí EU, 34letý Stanislav Gross. Během jediného volebního období se nakonec u vlády vystřídají rekordní tři premiéři.</p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Michal Zlatkovský</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script>Highcharts.setOptions({lang:{decimalPoint:",",}});Highcharts.chart('volby02',{chart:{type:'column'},title:{text:'Volby do Poslanecké sněmovny 2002'},subtitle:{text:'Volební účast: 58 %'},credits:{enabled:false},xAxis:{categories:['ČSSD','ODS','KSČM','KDU-ČSL, US-DEU','SN','SZ'],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,title:{text:'Procent hlasů:'},labels:{overflow:'justify',format:'{value} %'}},plotOptions:{column:{pointPadding:0.01,borderWidth:0,colorByPoint:true,colors:["orange","blue","red","yellow","black","green"],dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},tooltip:{formatter:function(){if(this.y=="30.2"){this.mandatu="70";this.nazev="Česká strana sociálně demokratická"}
else if(this.y=="24.47"){this.mandatu="58";this.nazev="Občanská demokratická strana"}
else if(this.y=="18.51"){this.mandatu="41";this.nazev="Komunistická strana Čech a Moravy"}
else if(this.y=="14.21"){this.mandatu="31";this.nazev="KDU₋ČSL, Unie svobody - Demokratická unie"}
else if(this.y=="2.78"){this.mandatu="0";this.nazev="Sdružení nezávislých"}
else if(this.y=="2.36"){this.mandatu="0";this.nazev="Strana zelených"}
return('<b>'+this.nazev+'</b><br>'+this.y.toString().replace(".",",")+' %<br>'+this.mandatu+" mandátů")}},legend:{enabled:false},series:[{name:'Odpovědí',data:[30.20,24.47,18.51,14.21,2.78,2.36]}]});Highcharts.chart('referendum',{chart:{type:'column'},title:{text:'Prezidentské referendum ČSSD'},subtitle:{text:'25 944 platných hlasů'},credits:{enabled:false},xAxis:{categories:['Miloš Zeman','Jaroslav Bureš','Otakar Motejl',],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,max:100,title:{text:'Hlasy'},labels:{overflow:'justify',format:'{value} %'}},colors:["orange"],plotOptions:{column:{pointPadding:0.05,borderWidth:0,dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},tooltip:{enabled:false},legend:{enabled:false},series:[{name:'Hlasů',data:[49.5,24.8,20.5]}]});Highcharts.chart('kolo1',{chart:{type:'column'},title:{text:'1. kolo první prezidentské volby'},subtitle:{text:'K vítězství: 101 hlasů poslanců + 41 hlasů senátorů'},credits:{enabled:false},colors:["#5b55ff","#ffd755"],xAxis:{categories:['Václav Klaus','Miroslav Kříženecký','Jaroslav Bureš','Petr Pithart',],crosshair:true},yAxis:{min:0,max:200,title:{text:'Hlasů'}},tooltip:{shared:true,useHTML:true},plotOptions:{column:{pointPadding:0.1,borderWidth:0}},series:[{name:'poslanců',data:[92,44,39,20]},{name:'senátorů',data:[31,2,7,35]}]});Highcharts.chart('kolo2',{chart:{type:'column'},title:{text:'2. kolo první prezidentské volby'},subtitle:{text:'K vítězství: 101 hlasů poslanců + 41 hlasů senátorů'},credits:{enabled:false},colors:["#5b55ff","#ffd755"],xAxis:{categories:['Václav Klaus','Petr Pithart',],crosshair:true},yAxis:{min:0,max:200,title:{text:'Hlasů'}},tooltip:{shared:true,useHTML:true},plotOptions:{column:{pointPadding:0.1,borderWidth:0}},series:[{name:'poslanců',data:[77,46]},{name:'senátorů',data:[32,43]}]});Highcharts.chart('kolo3',{chart:{type:'column'},title:{text:'3. kolo první prezidentské volby'},subtitle:{text:'K vítězství: 141 hlasů poslanců a senátorů'},credits:{enabled:false},colors:["#5b55ff","#ffd755"],xAxis:{categories:['Václav Klaus','Petr Pithart',],crosshair:true},yAxis:{min:0,max:200,title:{text:'Hlasů'},plotLines:[{color:'black',value:141,width:2}]},tooltip:{shared:true,useHTML:true},plotOptions:{column:{stacking:'normal',pointPadding:0.1,borderWidth:0}},series:[{name:'poslanců',data:[80,44]},{name:'senátorů',data:[33,40]}]});Highcharts.chart('kolo4',{chart:{type:'column'},title:{text:'1. kolo druhé prezidentské volby'},subtitle:{text:'K vítězství: 101 hlasů poslanců + 41 hlasů senátorů'},credits:{enabled:false},colors:["#5b55ff","#ffd755"],xAxis:{categories:['Václav Klaus','Miloš Zeman','Jaroslava Moserová',],crosshair:true},yAxis:{min:0,max:200,title:{text:'Hlasů'}},tooltip:{shared:true,useHTML:true},plotOptions:{column:{pointPadding:0.1,borderWidth:0}},series:[{name:'poslanců',data:[89,78,25]},{name:'senátorů',data:[32,5,43]}]});Highcharts.chart('kolo5',{chart:{type:'column'},title:{text:'2. kolo druhé prezidentské volby'},subtitle:{text:'K vítězství: 101 hlasů poslanců + 41 hlasů senátorů'},credits:{enabled:false},colors:["#5b55ff","#ffd755"],xAxis:{categories:['Václav Klaus','Jaroslava Moserová',],crosshair:true},yAxis:{min:0,max:200,title:{text:'Hlasů'}},tooltip:{shared:true,useHTML:true},plotOptions:{column:{pointPadding:0.1,borderWidth:0}},series:[{name:'poslanců',data:[85,33]},{name:'senátorů',data:[33,42]}]});Highcharts.chart('kolo6',{chart:{type:'column'},title:{text:'3. kolo druhé prezidentské volby'},subtitle:{text:'K vítězství: 141 hlasů poslanců a senátorů'},credits:{enabled:false},colors:["#5b55ff","#ffd755"],xAxis:{categories:['Václav Klaus','Jaroslava Moserová',],crosshair:true},yAxis:{min:0,max:200,title:{text:'Hlasů'},plotLines:[{color:'black',value:141,width:2}]},tooltip:{shared:true,useHTML:true},plotOptions:{column:{stacking:'normal',pointPadding:0.1,borderWidth:0}},series:[{name:'poslanců',data:[95,26]},{name:'senátorů',data:[26,39]}]});Highcharts.chart('kolo7',{chart:{type:'column'},title:{text:'1. kolo třetí prezidentské volby'},subtitle:{text:'K vítězství: 101 hlasů poslanců + 41 hlasů senátorů'},credits:{enabled:false},colors:["#5b55ff","#ffd755"],xAxis:{categories:['Václav Klaus','Jan Sokol',],crosshair:true},yAxis:{min:0,max:200,title:{text:'Hlasů'}},tooltip:{shared:true,useHTML:true},plotOptions:{column:{pointPadding:0.1,borderWidth:0}},series:[{name:'poslanců',data:[115,81]},{name:'senátorů',data:[32,47]}]});Highcharts.chart('kolo8',{chart:{type:'column'},title:{text:'2. kolo třetí prezidentské volby'},subtitle:{text:'K vítězství: 101 hlasů poslanců + 41 hlasů senátorů'},credits:{enabled:false},colors:["#5b55ff","#ffd755"],xAxis:{categories:['Václav Klaus','Jan Sokol',],crosshair:true},yAxis:{min:0,max:200,title:{text:'Hlasů'}},tooltip:{shared:true,useHTML:true},plotOptions:{column:{pointPadding:0.1,borderWidth:0}},series:[{name:'poslanců',data:[109,83]},{name:'senátorů',data:[30,46]}]});Highcharts.chart('kolo9',{chart:{type:'column'},title:{text:'3. kolo třetí prezidentské volby'},subtitle:{text:'K vítězství: 141 hlasů poslanců a senátorů'},credits:{enabled:false},colors:["#5b55ff","#ffd755"],xAxis:{categories:['Václav Klaus','Jan Sokol',],crosshair:true},yAxis:{min:0,max:200,title:{text:'Hlasů'},plotLines:[{color:'black',value:141,width:2}]},tooltip:{shared:true,useHTML:true},plotOptions:{column:{stacking:'normal',pointPadding:0.1,borderWidth:0}},series:[{name:'poslanců',data:[109,78]},{name:'senátorů',data:[33,46]}]});</script>
