<style>.podtitul{font-size:50%;font-weight:normal}</style>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/images/00995133.jpeg');"><span class="b-data__caption">Ústavní soud</span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Jak úřednická vláda dovedla zemi k volbám, které se nekonaly<br><span class='podtitul'>Pět momentů, které otřásly českou politikou<br>4. díl: Zrušené volby (2009)</span></strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>12. října 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">S blížícími se sněmovními volbami přichází čas ohlédnout se, co určovalo podobu těch minulých. Server iROZHLAS.cz proto přináší seriál Pět momentů, které otřásly českou politikou. Od pondělí do pátku se každý den dočtete o tom nejdůležitějším, co se na politické scéně v posledních dvaceti letech událo. Čtvrtým z momentů je zrušení předčasných voleb v roce 2009 Ǔstavním soudem a nástup úřednické vlády Jana Fischera.</p>

<p><em>Přečtěte si také <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-si-zeman-s-klausem-rozdelili-cesko_1710090800_zlo">první díl o éře opoziční smlouvy</a>, <a href="https://www.irozhlas.cz/veda-technologie/historie/pithart-zeman-klaus-jak-se-hledal-prezident_1710101001_zlo">druhý o zvolení Václava Klause prezidentem</a> a <a href="https://www.irozhlas.cz/veda-technologie/historie/topolanek-ods-paroubek-cssd-volby-pat-prebehlici-2006-klaus_1710111802_zlo">třetí o volebním patu, který zrodil poslanecké přeběhlíky</a>.</em> </p>
<h2>Konec eurovlády</h2>
<p>Pravicová vláda Mirka Topolánka, sestavená <a href="https://www.irozhlas.cz/veda-technologie/historie/topolanek-ods-paroubek-cssd-volby-pat-prebehlici-2006-klaus_1710111802_zlo">v roce 2007 po měsících složitého vyjednávání</a>, v sobě měla nejistou budoucnost vepsanou od samého počátku. V Poslanecké sněmovně disponovala jen stovkou koaličních hlasů doplněnou takzvanými přeběhlíky, tedy „neposlušnými“ opozičními poslanci. Proti koalici ODS, KDU-ČSL a Strany zelených stála mimořádně nepřátelská ČSSD Jiřího Paroubka. S vládou odmítala jakkoliv spolupracovat a během necelých dvou let iniciovala celkem pětkrát hlasování o vyslovení nedůvěry.</p>
<p>První dva neúspěšné pokusy vyvolala aféra lidoveckého ministra pro místní rozvoj Jiřího Čunka. Čunek se proslavil ostrým vymezováním proti zneužívání sociálních dávek domnělé pozitivní diskriminaci Romů, za což ho kritizovala řada nevládních organizací i vládní Strana zelených. V říjnu 2007 ovšem Česká televize zjistila, že sám Čunek v devadesátých letech pobíral sociální dávky, byť měl na svých účtech přes tři miliony korun. Čunek v důsledku kauzy rezignoval na svou ministerskou funkci, vláda však nejmenovala žádného nástupce a po necelém půlroce se Čunek na post vrátil. </p>
<p>Třetí hlasování o nedůvěře vyvolala ČSSD zejména kvůli nesouhlasu s podpisem smlouvy se Spojenými státy, která slibovala umístění americké radarové základny ve vojenském újezdu v Brdech. Ke čtvrtému pokusu došlo, když sociální demokraté vycítili příležitost: dvě poslankyně Strany zelených se kvůli radaru dostaly do konfliktu s vlastní stranou, proti ODS se zase postavili tři její poslanci v čele s Vlastimilem Tlustým. Pětice rebelujících zákonodárců však nehlasovala pro vyslovení nedůvěry, ale zdržela se nebo opustila sál, díky čemuž se vláda dál udržela.</p>
<p>V březnu roku 2009, uprostřed českého předsednictví Radě Evropské unie, podniká Jiří Paroubek s ČSSD poslední pokus vyslovit vládě nedůvěru. Spolu s opozicí tentokrát hlasují čtyři z pěti rebelujících poslanců a sněmovna tak poprvé v historii ČR vyslovuje vládě nedůvěru. Mirek Topolánek podává prezidentu Václavu Klausovi demisi a na koaličních jednáních s ČSSD domlouvá novou vládu. Nakonec se shodují na vytvoření dočasné úřednické „vládě náměstků“, kterou má vést předseda Českého statistického úřadu Jan Fischer. Sněmovna zároveň schvaluje ústavní zákon, který určoval termín předčasných voleb na říjen 2009.</p>
<p><img src="https://www.irozhlas.cz/sites/default/files/images/01012564.jpeg" width="100%"></img></p>
<h2>Nevolební čas</h2>
<p>Přípravy na volby jsou kvůli blízkému termínu kvapnější než obvykle. Na scéně se mimo jiné objevují dvě nové politické strany: Věci veřejné, původně pražská komunální strana, se začala s programem prosazování přímé demokracie angažovat i v celostátním měřítku. Bývalý předseda lidovců a ministr financí ve vládě Mirka Topolánka Miroslav Kalousek zakládá pravicově konzervativní stranu TOP („tradice, odpovědnost, prosperita“) 09, do níž s sebou na pozici předsedy přivádí Karla Schwarzenberga.</p>
<p>Měsíc před volbami, zatímco je předvolební kampaň v plném proudu, ovšem dochází k zásadnímu obratu. Ústavní soud prohlašuje zákon o předčasných volbách za protiústavní a ruší ho. Stalo se tak na podnět poslance Miloše Melčáka, <a href="https://www.irozhlas.cz/veda-technologie/historie/topolanek-ods-paroubek-cssd-volby-pat-prebehlici-2006-klaus_1710111802_zlo">známého z minulosti jako přeběhlíka z ČSSD</a>. Podle stanoviska Ústavního soudu nemůže parlament z momentálních politických důvodů měnit ústavu. „Zpochybnění základních právních jistot z politických důvodů je zpochybněním demokracie a vytváří potenciální nebezpečí nástupu autoritářství a totality. A není nic platné, že autoři tohoto precedentu neměli a nemají nic takového v úmyslu, a chtějí jen zajistit konání předčasných voleb,“ uvádí soud ve zprávě.</p>
<p>Průlomový krok vyvolává pozdvižení mezi právníky, politiky i veřejností. Vítá jej mimo jiné Karel Schwarzenberg z TOP 09, který ho považuje za milník ve vývoji k právnímu státu. Rozhodnutí naopak odsuzuje předseda ČSSD Jiří Paroubek i prezident Václav Klaus, který prohlašuje, že Ústavní soud prohloubil politickou krizi a je třeba mu nově vymezit pravomoci. </p>
<p>Volby se posouvají až k řádnému termínu v květnu 2010. Úřednická vláda Jana Fischera, původně zamýšlená jako „letní“, tak svůj mandát vykonává neobvykle dlouho. Vláda složená z nestraníků a odborníků se nicméně těší mimořádné podpoře veřejnosti. Podle průzkumu agentury STEM z března 2010 <a href="https://www.stem.cz/jake-duvere-se-u-verejnosti-tesi-clenove-ceske-vlady/">důvěřuje vládě celá polovina občanů</a> - nejvíc od roku 2002. Příznivý názor na premiéra Fischera mělo nevídaných 89 procent lidí, nadpolovičním kladným hodnocením se těšili i ministr financí Eduard Janota a ministr vnitra Martin Pecina. Vláda nestraníků, v částečně stejném personálním složení, se objeví ještě jednou, o tři roky později - už ale ve zcela jiném kontextu.</p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Michal Zlatkovský</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script></script>
