<style>.podtitul{font-size:50%;font-weight:normal}</style>
<script src="https://code.highcharts.com/highcharts.src.js"></script>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/uploader/mirek_topolanek_3414_171011-145517_zlo.jpg');"><span class="b-data__caption">Foto sevela.p / Wikimedia Commons (CC BY-SA 2.0)</span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Když volby dopadnou nerozhodně<br><span class='podtitul'>Pět momentů, které otřásly českou politikou<br>3. díl: Volební pat (2006)</span></strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>11. října 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">S blížícími se sněmovními volbami přichází čas ohlédnout se, co určovalo podobu těch minulých. Server iROZHLAS.cz proto přináší seriál Pět momentů, které otřásly českou politikou. Od pondělí do pátku se každý den dočtete o tom nejdůležitějším, co se na politické scéně v posledních dvaceti letech událo. Třetím z momentů je volební pat v roce 2006, kdy si oba možné koaliční bloky rozdělily mandáty po rovné stovce a po kterém následoval půlrok bezcílných vyjednávání.</p>

<p><em>Přečtěte si také <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-si-zeman-s-klausem-rozdelili-cesko_1710090800_zlo">první díl o éře opoziční smlouvy</a> a <a href="https://www.irozhlas.cz/veda-technologie/historie/pithart-zeman-klaus-jak-se-hledal-prezident_1710101001_zlo">druhý o zvolení Václava Klause prezidentem</a>.</em> </p>
<h2>Vláda tří premiérů</h2>
<p>Snad žádné volební období nebylo pro ČSSD dramatičtější než <a href="https://www.irozhlas.cz/veda-technologie/historie/pithart-zeman-klaus-jak-se-hledal-prezident_1710101001_zlo">to od roku 2002</a>. Za čtyři roky, kdy sociální demokraté vedli vládu, se v jejím i ve stranickém vedení vystřídali hned tři velmi odlišní muži. Odměřený a introvertní Vladimír Špidla, který po volbách v roce 2002 sestavil křehkou „stojedničkovou“ většinu s KDU-ČSL a Unií svobody-DEU, sice dovedl zemi do Evropské unie - v celostátním referendu v červnu 2003 podpořilo vstup 77 procent voličů - o svých dalších politických krocích však nedokázal přesvědčit spolustraníky, koaliční partnery ani veřejnost. </p>
<p>ČSSD nebyla ve <a href="https://www.irozhlas.cz/veda-technologie/historie/pithart-zeman-klaus-jak-se-hledal-prezident_1710101001_zlo">volbě v roce 2003</a> jako vládní strana schopna prosadit ani jednoho ze tří kandidátů na prezidenta. Ve volbách do Evropského parlamentu v roce 2004 získala pouhých 8,8 procent hlasů a když následně vedení ČSSD odmítlo zachovat vládní koalici ve stávající podobě, Špidla rezignoval na funkci předsedy strany i vlády. V obou funkcích ho nahradil dosavadní místopředseda vlády, populární a komunikativní Stanislav Gross, zastánce směřování strany k politickému středu po vzoru britského premiéra Tonyho Blaira. Ve svých 34 letech se Gross stal nejmladším premiérem v historii zemí Evropské unie. Protože opoziční občanští demokraté preferovali předčasné volby a vláda s komunisty byla neprůchozí, pokračoval v koalici s lidovci, vedenými novým předsedou Miroslavem Kalouskem, a US-DEU. Před jmenováním vlády prezidentem Václavem Klausem musel Gross stvrdit těsnou sněmovní většinu předložením 101 poslaneckých podpisů.</p>
<p><img src="https://www.irozhlas.cz/sites/default/files/styles/zpravy_otvirak_velky/public/uploader/profimedia-015768789_170905-125524_sam.jpg" width="100%"></p>
<p>Ve funkci však Gross nezůstal ani rok. Na začátku roku 2005 upozornila Mladá fronta Dnes na nejasné okolnosti financování Grossova pražského bytu v Praze na Barrandově. Premiér si podle vlastních slov na byt v ceně přes 4 milióny korun půjčil přes svého nemajetného strýce, invalidního důchodce Františka Vika. „Původ peněz je tak křišťálově čistý, že ani křišťál křišťálově čistější být nemůže,“ řekl Gross před poslanci. Ve stejné době přichází týdeník Respekt s informací, že firma Grossovy ženy Šárky koupila dům za necelých 6 miliónů korun. Gross po několika pokusech o vysvětlení a stoupajícím tlaku představitelů koaličních stran i prvního místopředsedy ČSSD Bohuslava Sobotky rezignuje na vládní funkce a později i na předsednictví sociální demokracie. </p>
<p>Na jeho posty nastupuje dlouholetý sociální demokrat Jiří Paroubek. Na předsedu ČSSD, tehdy ještě nepříliš výrazné malé strany, kandidoval už v roce 1993, kdy ho porazil Miloš Zeman. Z Paroubka a jeho podobně rázného protějšku Mirka Topolánka z ODS se na další roky stávají nejvýraznější soupeři české politické scény. Paroubek, za jehož ročního vedení parlament mimo jiné schvaluje zákon o registrovaném partnerství, vede vládu až k řádným volbám v červnu 2006.</p>
<h2>Tvrdé volby</h2>
<p>Předvolební kampaň je v mnoha ohledech zlomová. Strany poprvé ve velkém najímají profesionální agentury a vzájemné útoky mezi ODS a ČSSD jsou vyostřené <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-si-zeman-s-klausem-rozdelili-cesko_1710090800_zlo">podobně jako v roce 1998</a>. ODS vede kampaň „ODS plus“, na kterou ČSSD reaguje antikampaní „ODS minus“. Filip Renč točí pro občanské demokraty sérii téměř hororových spotů, které varují před nástupem levice a návratem komunistů a spojují zkratky dvou levicových stran do <i>KSČSSD</i>. Čím dál důležitější roli hraje internet, kde média zveřejňují předvolební průzkumy a strany ho využívají ke své propagaci prostřednictvím webových stránek i reklamních bannerů.</p>
<iframe width="100%" height="360" src="https://www.youtube.com/embed/kqCKeGp8zQA" frameborder="0" allowfullscreen></iframe>

<p><br></p>
<p>Několik dnů před začátkem voleb také uniká na veřejnost takzvaná Kubiceho zpráva. Jde o tajnou zprávu policisty Jana Kubiceho určenou bezpečnostnímu výboru Poslanecké sněmovny, ve které Kubice popisuje spojení organizovaného zločinu se státní správou. Kubiceho zpráva obsahuje mimo jiné materiály o spojení ČSSD a Jiřího Paroubka s vraždou podnikatele Františka Mrázka nebo o tom, že Paroubek má na svých letních dovolených „k dispozici“ nezletilou dceru Mrázkova přítele Tomáše Pitra. Mladá fronta Dnes označuje Kubiceho zprávu za „výbušnou směs pravdy a drbů“ a informace o Paroubkovi za nedoložené. Sám končící premiér se na tiskové konferenci den před volbami nechává slyšet, že Kubice je „lhář a hnusný člověk“, který šíří pomluvy.</p>
<p></div><div class="row-main row-main--article"><div id="volby06"></div></div><div class="row-main row-main--narrow"></p>
<p>Ve výsledcích voleb se výrazně projevila změna volebního systému, kterou ČSSD s ODS prosadily <a href="https://www.irozhlas.cz/veda-technologie/historie/jak-si-zeman-s-klausem-rozdelili-cesko_1710090800_zlo">v době opoziční smlouvy</a>. Obě strany získaly nejvíce mandátů v historii, zatímco menší strany byly upozaděny. Strana zelených Martina Bursíka, která se do Poslanecké sněmovny dostala poprvé, dosáhla s 6,3procentním ziskem na pouhých šest mandátů.</p>
<p>První výsledky nasvědčovaly většině 101 mandátů pro sociální demokraty a komunisty. Až v pozdních nočních hodinách sčítání, kdy se připočetly hlasy voličů ze zahraničí, se ukázalo, že dojde k volebnímu patu. Pravicový (ODS, KDU-ČSL a Strana zelených) i levicový (ČSSD a KSČM) blok získaly shodně po sto mandátech a žádná vláda tak nemohla mít většinu pro získání důvěry. Nejvypjatěji na výsledky reagoval Jiří Paroubek. Ve svém projevu obvinil ODS z manipulace voleb a oznámil, že zváží napadení jejich regulérnosti u soudu. Situaci přirovnal k událostem února 1948. Později se za svá slova omluvil.</p>
<h2>Půl roku bezvládí</h2>
<p>Po dramatických volbách následuje sedm měsíců pokusů sestavit funkční vládu. Pokouší se o to vítěz voleb Mirek Topolánek i šéf ČSSD Jiří Paroubek. Ten nabízí lidovcům Miroslava Kalouska menšinovou koalici s tolerancí komunistů. Kalousek k jednání přistupuje i přesto, že se strana před volbami zavázala s komunisty nespolupracovat. Vzbuzuje tak nevoli stranické základny i lidoveckých zákonodárců a je nucen rezignovat na funkci předsedy strany. Později to vysvětluje tak, že chtěl zabránit velké koalici sociálních a občanských demokratů: „Neměl jsem na vybranou. Mohl jsem tiše chcípnout v křoví. Byla to provokace, byla to hra. Kdybych neudělal nic, tak další vývoj byl neskonale dramatičtější.“</p>
<p>Topolánek se o sestavení vlády souběžně pokouší hned v několika variantách - zprvu v koalici s KDU-ČSL a zelenými, které by však chyběl jeden hlas do potřebných 101, poté jako menšinovou jednobarevnou vládu s tolerancí ČSSD, na což však sociální demokraté nepřistupují. Topolánek tedy v září předkládá prezidentu Klausovi návrh vlády, kde devět zástupců ODS doplňuje šest nestraníků. Poprvé v historii České republiky však v Poslanecké sněmovně nezískává důvěru a vyjednávání začínají nanovo.</p>
<p>Mandát od prezidenta k sestavení vlády dostává o dva měsíce později opět Mirek Topolánek. V prosinci žádá Václava Klause o jmenování vlády sestavené z členů původní pravicové koalice ODS, lidovců a zelených. Spoléhá na takzvané přeběhlíky - opoziční poslance, kteří vládu v klíčových hlasováních podpoří. Prezident po výhradách, zejména vůči nestabilitě vlády a vůči jménu ministra zahraničí Karla Schwarzenberga, nakonec v lednu 2007 kabinet jmenuje.</p>
<p>Důvěru druhá vláda Mirka Topolánka skutečně získává jen díky dvěma přeběhlíkům, poslancům ČSSD Miloši Melčákovi a Michalu Pohankovi, kteří před hlasováním opouští jednací sál. Později dostávají nálepku „konstruktivní poslanec“ a na stranu Topolánkovy vlády se přidávají i při důležitých hlasováních.  Stovkové koalici se pak i její křehkost daří hned v prvním roce vládnutí schválit velkou daňovou reformu. Vládnout ale nakonec dlouho nevydrží.</p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Michal Zlatkovský</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script>Highcharts.setOptions({lang:{decimalPoint:",",}});Highcharts.chart('volby06',{chart:{type:'column'},title:{text:'Volby do Poslanecké sněmovny 2006'},subtitle:{text:'Volební účast: 64,47 %'},credits:{enabled:false},xAxis:{categories:['ODS','ČSSD','KSČM','KDU-ČSL','SZ','SNK-ED'],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,title:{text:'Procent hlasů:'},labels:{overflow:'justify',format:'{value} %'}},plotOptions:{column:{pointPadding:0.01,borderWidth:0,colorByPoint:true,colors:["blue","orange","red","yellow","green","darkblue"],dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},tooltip:{formatter:function(){if(this.y=="35.38"){this.mandatu="81";this.nazev="Občanská demokratická strana"}
else if(this.y=="32.32"){this.mandatu="74";this.nazev="Česká strana sociálně demokratická"}
else if(this.y=="12.81"){this.mandatu="26";this.nazev="Komunistická strana Čech a Moravy"}
else if(this.y=="7.22"){this.mandatu="13";this.nazev="Křesťanská a demokratická unie – Československá strana lidová"}
else if(this.y=="6.29"){this.mandatu="6";this.nazev="Strana zelených"}
else if(this.y=="2.08"){this.mandatu="0";this.nazev="SNK Evropští demokraté"}
return('<b>'+this.nazev+'</b><br>'+this.y.toString().replace(".",",")+' %<br>'+this.mandatu+" mandátů")}},legend:{enabled:false},series:[{name:'Odpovědí',data:[35.38,32.32,12.81,7.22,6.29,2.08]}]});</script>
