<style>.podtitul{font-size:50%;font-weight:normal}</style>
<script src="https://code.highcharts.com/highcharts.src.js"></script>


<div class="b-data__bg" style="background-image: url('https://www.irozhlas.cz/sites/default/files/uploader/1000946-485742_171008-224314_zlo.jpg');"><span class="b-data__caption">Foto <a href='#'>ČTK</a></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Jak si Zeman s Klausem rozdělili Česko<br><span class='podtitul'>Pět momentů, které otřásly českou politikou<br>1. díl: Opoziční smlouva (1998)</span></strong>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>9. října 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">

<div class="row-main row-main--narrow">

<p class="text-bold text-lg">S blížícími se sněmovními volbami přichází čas ohlédnout se, co určovalo podobu těch minulých. Server iROZHLAS.cz proto přináší seriál Pět momentů, které otřásly českou politikou. Od pondělí do pátku se každý den dočtete o tom nejdůležitějším, co se na politické scéně v posledních dvaceti letech událo. Prvním z momentů je podpis takzvané opoziční smlouvy, která v roce 1998 zajistila díky podpoře ODS Václava Klause fungování menšinové vlády ČSSD Miloše Zemana.</p>

<p><em>Přečtěte si také <a href="https://www.irozhlas.cz/veda-technologie/historie/pithart-zeman-klaus-jak-se-hledal-prezident_1710101001_zlo">druhý díl o zvolení Václava Klause prezidentem</a>.</em></p>
<h2>Sarajevský atentát</h2>
<p>Volební rok 1996 nebyl pro premiéra Václava Klause jednoduchý. Během čtyřleté vlády jím založené a vedené Občanské demokratické strany se mu podařilo mírově rozdělit Československo, provést Česko ekonomickou transformací a přihlásit zemi do Evropské unie a NATO. Stal se nejvýraznější figurou české politiky.</p>
<p>První Klausova vláda, která neměla v Poslanecké sněmovně vážnější opozici než zdiskreditovanou KSČM, se těšila mimořádné důvěře a Václav Klaus sám si uvnitř své strany držel silnou pozici. Ve volbách na jaře 1996 se proto očekávalo jasné vítězství ODS a pokračování její koalice s KDU-ČSL a Občanskou demokratickou aliancí.</p>
<p>O to překvapivější byly volební výsledky. České straně sociálně demokratické, která v předešlých volbách získala pouhých 16 mandátů, vlil krev do žil nový předseda, výrazný řečník Miloš Zeman. Pod jeho vedením se ČSSD, ve stále tvrdší opozici vůči ODS, stala druhou nejsilnější stranou a obsadila ve sněmovně 61 křesel – o sedm méně než vítězná ODS. </p>
<p></div><div class="row-main row-main--article"><div id="volby96"></div></div><div class="row-main row-main--narrow"></p>
<p>Dosavadní koalice ODS, KDU-ČSL a ODA dosáhla jen na 99 mandátů z celkových dvou set a nebyla schopná složit většinu. Klaus svou druhou vládu sestavil jen díky dohodě se sociálními demokraty, za níž stál prezident Václav Havel. Sociální demokracie umožnila ODS získat důvěru výměnou za křeslo předsedy sněmovny pro Miloše Zemana. K tomu navíc oslabila pozice ODS ve vládní koalici - nová koaliční dohoda Klausovi zakazovala obcházet své partnery a schvalovat zákony za pomoci opozice, jak bylo občasným zvykem v jeho první vládě. Klaus se také často dostával do sporů s předsedou koaliční KDU-ČSL Josefem Luxem.</p>
<p>Nestabilní menšinová vláda se brzy dostala do problémů. Do té doby rychle rostoucí ekonomika vstoupila na přelomu let 1996 a 1997 do recese. Klaus, neústupný ve svém neoliberálním pohledu na ekonomiku, zareagoval „úspornými balíčky“ - škrty ve výdajích rozpočtu. To vyvolalo spory v koalici i mezi vládou a Českou národní bankou, která byla podle Klause hlavním viníkem nepříznivé ekonomické situace. Do té doby poměrně populární vláda začala ztrácet důvěru veřejnosti a Klausovi nezbylo než zareagovat výměnou některých ministrů.</p>
<p></div><div class="row-main row-main--article"><div id="duveraKlaus"></div></div><div class="row-main row-main--narrow"></p>
<p>Brzy však přichází další rána. Na podzim roku 1997 přerůstá podezření z nekalého financování ODS v jistotu. Podle výroční zprávy ODS měli mezi jejími největšími sponzory být dva neznámí cizinci: Radžív Sinha z Mauricia a Lájos Bács z Maďarska, kteří straně darovali celkem 7,5 miliónu. Podezření, že nikdo takový ve skutečnosti neexistuje, se potvrzuje v listopadu 1997, kdy se k darům přiznává Milan Šrejber, podnikatel, který se podílel na privatizaci Třineckých železáren.</p>
<p>O pouhé čtyři dny později přichází deník Mladá fronta Dnes s informací o tajném kontu ODS vedeném ve Švýcarsku, ze kterého měla strana nelegálně financovat své aktivity. Jen v roce 1996 musela ODS podle policie ze zahraničí <a href="http://zpravy.idnes.cz/svycari-potvrdili-tajne-konto-ods-d5k-/domaci.aspx?c=A000713224501domaci_ond">získat nejméně 90 miliónů korun</a>. Ještě ten den, zatímco je Václav Klaus na pracovní cestě v Sarajevu, vystupují před televizní kamery místopředsedové ODS Jan Ruml a Ivan Pilip a vyzývají Klause k odstoupení z čela strany. Média o události mluví jako o sarajevském atentátu.</p>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-historie/1998_opozicni_smlouva/media/ruml-pilip.jpg" width="100%"></p>
<p>Hned následující den podávají demisi ministři za KDU-ČSL i ODA a Klausův kabinet se rozpadá. Premiér následně podává do rukou Václava Havla demisi. Po několika týdnech jednání jmenuje prezident nového premiéra: dosavadního guvernéra ČNB Josefa Tošovského, který má spolu s poloúřednickou vládou dovést zemi k předčasným volbám. </p>
<p>Klausova popularita se mezitím propadá na bod mrazu: podle průzkumu CVVM mu v prosinci nedůvěřuje 64,8 procent lidí. Tlaku na odstoupení ale odolá a na sjezdu ODS je opět zvolen předsedou strany. Klaus se s novými, věrnými místopředsedy distancuje od Tošovského vlády a svým vnitrostranickým odpůrcům dává ultimátum: buď opustí stranu, nebo vládu. Ruml, Pilip a další z ODS obratem odcházejí a zakládají novou stranu, Unii svobody.</p>
<h2>Úhlavní spojenci</h2>
<p>Volbám v červnu 1998 předcházela nebývale tvrdá a agresivní kampaň mezi dvěma úhlavními nepřáteli, Zemanovou ČSSD a Klausovou ODS. ODS se ve snaze očistit jméno svého předsedy prohlásila za jedinou stálici české pravice a varovala před nástupem levice slogany jako <i>Mobilisace!</i> či <i>Doleva nebo s Klausem</i>. ČSSD na druhé straně barikády tvrdila, že Klausovy vlády po sobě zanechaly <i>spálenou zemi</i>, a slibovala „akci Čisté ruce“ - masivní protikorupční zátah proti privatizačním tunelářům.</p>
<p></div><div class="row-main row-main--article"><div id="volby98"></div></div><div class="row-main row-main--narrow"></p>
<p>ODS, které v prvních týdnech po sarajevském atentátu přisuzovaly průzkumy kolem 10 procent hlasů, slaví ve volbách překvapivý úspěch. Těsný poměr sil znamenal, že oba hlavní soupeři by s dvěma menšími stranami sestavili pohodlnou většinu. Do zdánlivě snadného vyjednávání se ovšem promítla osobní nevraživost. Spolupráci s ČSSD Miloše Zemana odmítla Unie svobody, případná menšinová vláda s komunisty byla pro vítěze voleb politicky neúnosná - jen o tři roky dříve přijala ČSSD takzvané Bohumínské usnesení, kterým si strana zakázala spolupráci s extremistickými stranami, mezi něž KSČM zařadila. Václav Klaus zase neodpustil lidovcům ani Unii svobody zradu z doby sarajevského atentátu a nabídl stranám tak nevýhodné podmínky, že spolupráci odmítly.</p>
<p>Miloš Zeman spolu s Václavem Klausem tak přistupují k nevídanému kroku a podepisují takzvanou opoziční smlouvu. Platnost dokumentu, celým názvem <em>Smlouvy o vytvoření stabilního politického prostředí v České republice uzavřené mezi Českou stranou sociálně demokratickou a Občanskou demokratickou stranou</em>, není omezená jedním volebním obdobím a oba předsedové potvrzují, že má platit „věčně“. Smlouva rozděluje důležité funkce mezi zástupce ČSSD a ODS a mimo jiné zavazuje ODS k nevyvolání a neúčasti na jakémkoliv hlasování o nedůvěře vládě. Miloš Zeman se stává premiérem, Václavu Klausovi připadá funkce předsedy Poslanecké sněmovny. Z úhlavních nepřátel jsou úhlavní spojenci.</p>
<h2>Koalice s opozicí</h2>
<p>Opoziční smlouvu její kritici často označují za smlouvu koaliční. Jak ukázal mezi jinými <a href="http://www.ceskatelevize.cz/ivysilani/10123147075-vladneme-nerusit">novinář Erik Tabery</a>, tím, že ODS obsadila pozice v kontrolních výborech a dozorčích radách státních podniků v součinnosti s ČSSD, fakticky přestala plnit roli opozice. Zásadní rozhodnutí vlády Miloše Zemana padala za tichého souhlasu největší formálně opoziční strany - a přihlížení lidovců, Unie svobody i komunistů, kteří hráli roli převážně v méně závažných hlasováních. </p>
<p>Václav Klaus i Miloš Zeman dodnes mluví o opoziční smlouvě jako o standardním politickém dokumentu, ve své době nutném pro stabilizaci země. Fakticky si obě strany za vzájemné podpory rozdělily funkce ve státních podnicích nebo obměňovaly vedení policie a tajných služeb.</p>
<p>Jedním z cílů opoziční smlouvy byla i změna volebního zákona tak, aby výrazně posílil strany, které ve volbách získají nejvíce hlasů. Podle úpravy, kterou poslanci v roce 2000 skutečně schválili, by vítězné straně stačilo kolem 30 procent hlasů k získání sněmovní většiny. ČSSD by tak podle tohoto zákona ve volbách v roce 1998 získala celkem 102 mandátů. Zákon však prezident Václav Havel napadl u Ústavního soudu, který všechny sporné body zrušil.</p>
<p>Opozičněsmluvní vládu Miloše Zemana provázela řada kauz. Patří mezi ně zahájení výstavby nejdražší české dálnice D47, kterou <a href="https://byznys.lidovky.cz/smutny-pribeh-d47-od-zemanova-izraelskeho-debaklu-po-rezivejici-mosty-129-/doprava.aspx?c=A131024_105557_ln-doprava_mev">vláda bez výběrového řízení svěřila</a> izraelské firmě Housing and Construction za 125 miliard korun, nebo aféra Olovo - diskreditační materiál na tehdejší místopředsedkyni sněmovny za ČSSD Petru Buzkovou, který měl podle informací Mladé fronty Dnes kolovat mezi Zemanovými poradci. Dokument, pojmenovaný podle iniciálů Buzkové PB, obsahoval smyšlenky o její prostituci nebo spolupráci s StB. ČSSD později existenci spisu nepřímo přiznala a policie za jeho autora označila Zemanova poradce Vratislava Šímu. Případ následně uzavřela, protože čin neuznala jako společensky nebezpečný, a Šíma dál pracoval pro Ǔřad vlády.</p>
<p>Známá je i kauza plánované vraždy novinářky Sabiny Slonkové, kterou si objednal tehdejší sekretář ministerstva zahraničí Karel Srba. Slonková ve svých článcích pro Mladou frontu Dnes upozorňovala na Srbovo ovlivňování veřejných zakázek a na jeho majetkové poměry, které neodpovídaly příjmům státního úředníka. Srba byl za přípravu vraždy odsouzen na 12 let vězení.</p>
<p>Na přelomu let 2000 a 2001 pak došlo k takzvané televizní krizi, mocenskému boji ve veřejnoprávní České televizi, ze kterého vzešel širší politický spor. Rada ČT, zvolená ještě v předchozím sněmovním období, zvolila na začátku roku 2000 nového generálního ředitele Dušana Chmelíčka. Za rozhodnutí radu někteří poslanci kritizovali - tolik, že měsíc po volbě využili zákonnou možnost celý orgán odvolat a zvolit nový. Chmelíček se tak náhle zodpovídal zcela jiné radě, než která ho zvolila. </p>
<p><img src="https://interaktivni.rozhlas.cz/data/volby-historie/1998_opozicni_smlouva/media/tvkrize.jpg" width="100%"></p>
<p>Po měsících sporů Rada ČT Chmelíčka odvolala a na jeho místo dosadila bývalého ředitele zpravodajství ČT Jiřího Hodače. Toho řada redaktorů ČT považovala za blízkého ODS - zejména proto, že ve své předchozí funkci nechal po stížnosti Václava Klause odvolat moderátora diskusního pořadu V pravé poledne - a rozhodnutí vyvolalo vlnu odporu. Pracovníci zpravodajství ČT zakládají krizový výbor, vyzývají Hodače, aby funkci nepřevzal, a Radu ČT k rezignaci. </p>
<p>Nový generální ředitel výzvu odmítá a na místo ředitelky zpravodajství jmenuje bývalou poradkyni Václava Klause Janu Bobošíkovou. Redaktoři zpravodajství její jmenování neuznávají, načež je jim Hodačem zabráněno vstoupit do velína zpravodajství. Po dobu dvou týdnů tak vznikají dvoje televizní zprávy: „oficiální“ Jany Bobošíkové připravované provizorním týmem, a „protestní“ od původních redaktorů, které je však dostupné pouze přes kabelové či satelitní vysílání. Bobošíková se protestujícím redaktorům pokouší rozdat výpovědi, ti je ovšem považují za neplatné.</p>
<p>Do krize se postupně vkládají i politici. Za Hodačem a Bobošíkovou stojí zejména ODS, za zbytkem pak zástupci lidovců a Unie svobody. Na podporu vzbouřených zaměstnanců se na Václavském náměstí koná demonstrace více než 100 tisíc lidí. Brzy poté Jiří Hodač na funkci ředitele rezignuje. Poslanecká sněmovna nakonec na výzvu Senátu odvolává i Radu ČT a mění zákon o České televizi tak, aby posílil její nezávislost. Situaci v ČT pak uklidňuje nový ředitel Jiří Balvín.</p>
<p>Opoziční smlouva se setkala také s občanským odporem. Jeho nejvýznamnějším projevem byla výzva Děkujeme, odejděte, která žádala demisi Miloše Zemana i Václava Klause. Výzvu podepsalo na 200 tisíc lidí, premiér i předseda sněmovny jí však odmítli věnovat výraznější pozornost.</p>
<p></div><div class="row-main row-main--article"><div id="duveraZeman"></div></div><div class="row-main row-main--narrow"></p>
<h2>Konec jedné éry</h2>
<p>Přestože měla opoziční smlouva mít trvalou platnost, její období skončilo spolu s vládou Miloše Zemana. Ten ještě před koncem mandátu - v roce 2001, rok před volbami - oznámuje, že se nebude znovu ucházet o funkci předsedy ČSSD, a post přenechává svému ministru práce a odpůrci dalšího trvání opoziční smlouvy Vladimíru Špidlovi. Sám Zeman se na krátkou dobu stahuje do ústraní.</p>
<p>Špidlově ČSSD se daří s výrazným náskokem porazit Klausovu ODS a o pokračování opoziční smlouvy neuvažuje. Václav Klaus se stává řadovým poslancem a o funkci předsedy ODS se dál neuchází. Za jeho nejpravděpodobnějšího následníka straníci považují pozdějšího premiéra Petr Nečas - ale kongres ODS, který se koná několik měsíců po volbách, volí za předsedu rázného vsetínského senátora Mirka Topolánka. Klause zároveň prohlašuje za čestného předsedu a stranického kandidáta na prezidenta republiky.</p>
<div id="spokojenost"></div>

<p>Jak ukazují sociologické průzkumy, éra opoziční smlouvy měla zásadní vliv na občanské vnímání politiky. Deziluze z pragmatické spolupráce dříve znepřátelených stran zapříčinila nejen pokles důvěry v politiku jako takovou, ale také trvalé snížení volební účasti. Zatímco ještě v roce 1998 dorazilo k urnám přes 74 procent voličů, v roce 2002 to bylo jen 58 procent. Účast od té doby nepřesáhla dvoutřetinovou hranici. Smlouva samotná a její důsledky pro českou politiku zůstavají dodnes předmětem sporů politiků i odborné veřejnosti.</p>

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">Michal Zlatkovský</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div><script>Highcharts.setOptions({lang:{decimalPoint:",",}});Highcharts.chart('volby96',{chart:{type:'column'},title:{text:'Volby do Poslanecké sněmovny 1996'},subtitle:{text:'Volební účast: 76,41 %'},credits:{enabled:false},xAxis:{categories:['ODS','ČSSD','KSČM','KDU-ČSL','SPR-RSČ','ODA','DŽJ','DEU'],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,title:{text:'Procent hlasů:'},labels:{overflow:'justify',format:'{value} %'}},plotOptions:{column:{pointPadding:0.01,borderWidth:0,colorByPoint:true,colors:["blue","orange","red","yellow","#F0F0F0","lightblue","pink","green"],dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},tooltip:{formatter:function(){if(this.y=="29.62"){this.mandatu="68";this.nazev="Občanská demokratická strana"}
else if(this.y=="26.44"){this.mandatu="61";this.nazev="Česká strana sociálně demokratická"}
else if(this.y=="10.33"){this.mandatu="22";this.nazev="Komunistická strana Čech a Moravy"}
else if(this.y=="8.08"){this.mandatu="18";this.nazev="Křesťanská a demokratická unie – Československá strana lidová"}
else if(this.y=="8.01"){this.mandatu="18";this.nazev="Sdružení pro republiku – Republikánská strana Československa"}
else if(this.y=="6.36"){this.mandatu="13";this.nazev="Občanská demokratická aliance"}
else if(this.y=="3.09"){this.mandatu="0";this.nazev="Důchodci za životní jistoty"}
else if(this.y=="2.8"){this.mandatu="0";this.nazev="Demokratická unie"}
return('<b>'+this.nazev+'</b><br>'+this.y.toString().replace(".",",")+' %<br>'+this.mandatu+" mandátů")}},legend:{enabled:false},series:[{name:'Odpovědí',data:[29.62,26.44,10.33,8.08,8.01,6.36,3.09,2.80]}]});Highcharts.chart('duveraKlaus',{chart:{type:'column'},title:{text:'Důvěra vládám Václava Klause'},subtitle:{text:'Koalice ODS, KDU-ČSL a ODA (1993-96, 1996-98)'},credits:{text:'zdroj: CVVM, Český sociálněvední datový archiv',href:'http://archiv.soc.cas.cz/'},xAxis:{categories:['1993','1994','1995','1996','1997','1997/12'],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,max:100,title:{text:'Důvěřuje:'},labels:{overflow:'justify',format:'{value} %'}},plotOptions:{column:{pointPadding:0.01,borderWidth:0,dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},tooltip:{enabled:false},legend:{enabled:false},series:[{name:'Důvěra:',data:[56.5,54.1,53.4,48.4,33.7,13.3]}]});Highcharts.chart('duveraZeman',{chart:{type:'column'},title:{text:'Důvěra „opozičněsmluvní“ vládě Miloše Zemana'},subtitle:{text:'Menšinová vláda ČSSD (1998-2002)'},credits:{text:'zdroj: CVVM, Český sociálněvední datový archiv',href:'http://archiv.soc.cas.cz/'},xAxis:{categories:['1999','2000','2001','2002/5'],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,max:100,title:{text:'Důvěřuje:'},labels:{overflow:'justify',format:'{value} %'}},plotOptions:{column:{pointPadding:0.01,borderWidth:0,dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},legend:{enabled:false},tooltip:{enabled:false},series:[{name:'Důvěra:',data:[28.6,30.6,37.1,42.3]}]});Highcharts.chart('volby98',{chart:{type:'column'},title:{text:'Volby do Poslanecké sněmovny 1998'},subtitle:{text:'Volební účast: 74,03 %'},credits:{enabled:false},xAxis:{categories:['ČSSD','ODS','KSČM','KDU-ČSL','US','SPR-RSČ','DŽJ'],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,title:{text:'Procent hlasů:'},labels:{overflow:'justify',format:'{value} %'}},plotOptions:{column:{pointPadding:0.01,borderWidth:0,colorByPoint:true,colors:["orange","blue","red","yellow","green","#F0F0F0","pink"],dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},tooltip:{formatter:function(){if(this.y=="32.31"){this.mandatu="74";this.nazev="Česká strana sociálně demokratická"}
else if(this.y=="27.74"){this.mandatu="63";this.nazev="Občanská demokratická strana"}
else if(this.y=="11.03"){this.mandatu="24";this.nazev="Komunistická strana Čech a Moravy"}
else if(this.y=="9.00"){this.mandatu="20";this.nazev="Křesťanská a demokratická unie – Československá strana lidová"}
else if(this.y=="8.60"){this.mandatu="19";this.nazev="Unie svobody"}
else if(this.y=="3.90"){this.mandatu="0";this.nazev="Sdružení pro republiku – Republikánská strana Československa"}
else if(this.y=="3.06"){this.mandatu="0";this.nazev="Důchodci za životní jistoty"}
return('<b>'+this.nazev+'</b><br>'+this.y.toString().replace(".",",")+' %<br>'+this.mandatu+" mandátů")}},legend:{enabled:false},series:[{name:'Odpovědí',data:[32.31,27.74,11.03,9.00,8.60,3.90,3.06]}]});Highcharts.chart('spokojenost',{chart:{type:'column'},title:{text:'Spokojenost s politickou situací'},credits:{text:'zdroj: CVVM, Český sociálněvední datový archiv',href:'http://archiv.soc.cas.cz/'},xAxis:{categories:['1996','1999','2002',],crosshair:true,labels:{overflow:'justify'}},yAxis:{min:0,max:100,title:{text:'Spokojených:'},labels:{overflow:'justify',format:'{value} %'}},plotOptions:{column:{pointPadding:0.01,borderWidth:0,dataLabels:{enabled:true,formatter:function(){return(this.y.toString().replace(".",",")+" %")}}},},legend:{enabled:false},tooltip:{enabled:false},series:[{name:'Spokojených:',data:[43.2,17.7,33.4]}]});</script>
